body {
    font-family: 'Myriad Pro', Candara, sans-serif;
    font-size: 14px;
    color: @black;
    background-color: @white;
    width: 1353px;
    margin: 0 auto;
    overflow-y: hidden;
    .userSelect;
}

body, html {
    height: 100%;
}

h3 {
    font-size: 1.36em;
}

h6 {
    font-size: 0.74em;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

button {
    font-family: 'Myriad Pro', Candara, sans-serif;
}

input, textarea {
    font-family: 'Myriad Pro', Candara, sans-serif;
}

.formItem {
    position: relative;
    margin-bottom: 8px;

    input {
        width: 179px;
        margin-top: 3px;
        margin-left: 15px;
        padding-left: 3px;
        padding-top: 3px;

        &[type=file] {
            font-size: 11px;
            width: 299px;
            margin-left: -2px;
            margin-bottom: 5px;
            border: none;
        }
        &[type=checkbox] {
            width: auto;
            margin-top: 5px;
        }
    }

    label {
        float: left;
        padding-top: 7px;
        width: 100px;
        .boxSizing;

        &[for=taskPerformerFilter] {
            font-size: 14px;
            width: 70px;
        }
        &[for=taskHighPriority] {
            padding-left: 16px;
        }
    }

    textarea {
        margin-top: 3px;
        width: 98%;
        resize: vertical;
        font-size: 13px;
    }

    select {
        width: 184px;
        margin-top: 3px;
        margin-left: 15px;
        padding: 2px 0 2px 3px;
        background-color: inherit;

        option[selected] {
            font-weight: bold;
            color: @selected;
            background-color: @greyLight;
        }
    }

    input, textarea, select {
        outline: none;
        border: 1px solid @grey;
        &:focus {
            border-color: @black;
        }
    }

    .projImg, .userImg {
        margin-left: 15px;
        background-color: @greyLight;
    }

    .startDate {
        color: @selected;
    }

    .taskHighPriorityImg {
        display: block;
        position: absolute;
        left: 0;
        top: 6px;
        width: 14px;
        height: 14px;
        background: url(../resources/statePointToggle.png) 0 -14px no-repeat;
    }
}

#formAddProject {
    width: 300px;
}

#formAddTask {
    width: 324px;
    label {
        width: 124px;
    }
}

#mainHeader {
    font-size: 16px;
    height: 42px;
    color: @white;
    background-color: @greys;
    position: fixed;
    top: 0;
    max-width: 1353px;
    //min-width: 640px;
    width: 100%;
    z-index: 22;
}

#appMenu {
    float: left;

    li {
        cursor: pointer;
        .transition(background-color, 0.3s);

        &:hover {
            background-color: @black;
        }
        &.selectedMenu {
            background-color: @white;
            color: black;
            font-weight: bold;
        }
    }

    & > ul > li {
        position: relative;
        display: block;
        float: left;
        a {
            padding: 11px 8px;
            height: 20px;
        }
    }

    #reloadPage {
        margin-left: 30px;
        span {
            display: block;
            float: left;
            width: 24px;
            height: 24px;
            padding: 9px;
            background: url(../resources/reloadPage.png) center center no-repeat;
        }
    }
}

///////////////////////////////////////////////

.subHeader {
    color: @black;
    font-size: 13px;
    position: fixed;
    top: 42px;
    max-width: 1353px;
    //min-width: 640px;
    width: 100%;
    .boxShadow(0 4px 8px -4px @greys);
    z-index: 21;
}

.mainDiv {
    float: left;
    padding-top: 42px;
    .boxSizing;
    height: 100%;
}

#appContainer {
    height: 100%;
    padding-top: 42px;
    position: relative;
    .boxSizing;
}

.searchForm {
    float: left;
    margin-left: 15px;
    margin-top: 4px;
    position: relative;

    .searchIcon {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        right: 10px;
        top: 5px;
        background: url(../resources/search.png) no-repeat center center;
        cursor: pointer;
    }

    input[type=search] {
        outline: none;
        font-family: 'Myriad Pro', Candara, sans-serif;
        font-size: 13px;
        line-height: 1.1;
        border: 1px solid @grey;
        padding: 7px 28px 7px 10px;
        width: 139px;
        .transition(border-color, 0.4s);

        &:focus {
            border-color: @black !important;
            //background-color: @greyLight !important;
        }
    }

    input:-moz-placeholder {
        color: @greys;
    }
    input::-webkit-input-placeholder {
        color: @greys;
    }
}

.hoverCircle {
    &:before {
        content: '';
        display: none;
        position: absolute;
        padding: 7%;
        top: -7%;
        left: -7%;
        background-color: @greys;
        width: 100%;
        height: 100%;
        .borderRadius(50%);
        .opacity(0.3);
    }

    &:hover:before {
        display: block;
    }
}

///////////////////////////////////////////////

#pickadateContainer {
    display: none;
    position: absolute;
    z-index: 11;
    &.scene {
        display: block;
        .picker {
            right: auto;
        }
    }
}

.picker {
    width: 250px;
    right: 1px;
}

.btn {
    .boxSizing;
    outline: none;
    padding: 5px;
    margin: 5px;
    border: 0 none;
    background-color: @mcolor;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    .transition(background-color, .3s);

    &.btnError {
        border: 2px solid @errorColor;
    }

    &:hover {
        background-color: @mcolorLight;
    }

    &:active {
        background-color: @mcolorDark;
    }
}

///// notice

#notice {
    position: absolute;
    display: none;
    z-index: 41;
    left: 13px;
    width: 292px;
    .boxShadow(0 0 16px 1px @black);
    cursor: default;
    font-size: 14px;

    &.scene {
        display: block;
    }

    &.ERROR {
        color: @white;
        background-color: @errorColor;
    }
    &.INFORM {
        color: @selected;
        background-color: @grey;
    }
    &.WARN {

    }

    #noticeTitle {
        padding: 10px;
        font-weight: bold;
        min-height: 14px;
        border-bottom: 1px solid @white;
    }

    #noticeContent {
        margin: 10px;
        line-height: 1.2;
        word-wrap: break-word;
        overflow-y: auto;
        .boxSizing;
    }

    #noticeCloser {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 1px;
        top: 1px;
        background: url(../resources/close.png) center center no-repeat;
        cursor: pointer;
    }
}

#noticeShadow {
    visibility: hidden;
    .transition(background-color, 0.3s);

    &.fog {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        visibility: visible;
        background-color: @black;
        .opacity(0.1);
        zoom: 1;
        z-index: 31;
    }
}
