///// accordion

.accordionSection {
    //margin-top: 10px;
}

.accordion {
    border-bottom: 1px solid @greyLight;
    padding-top: 10px;

    &:last-of-type {
        border-bottom: none;
    }

    .accordionToggler {
        background: url(../resources/accordionArrow.png) left bottom no-repeat;
        display: inline-block;
        line-height: 1.45;
        .boxSizing;
        padding-left: 20px;
        margin-left: 15px;

        &:hover {
            cursor: pointer;
            color: @black !important;
        }
    }

    .accordionContent {
        margin-top: 8px;
        height: auto;
        .transition(opacity, 0.3s);

        > li {
            //margin-bottom: 8px;
        }
    }

    &.closed {
        .accordionToggler {
            background-position: left top;
            color: @greys;
        }
        .accordionContent {
            height: 0;
            overflow: hidden;
            .opacity(0);
        }
    }

    &.current {
        .accordionToggler {
            color: @mcolorDark;
            font-weight: bold;
            margin-left: -5px;
        }
    }
}