<div id="addContactDialog">
    <form id="formAddContact" action="#" autocomplete="off" title="Добавление контакта">
        <div class="formItem">
            <label for="contactSurname">Фамилия</label>
            <input type="text" id="contactSurname" name="contactSurname"
            <% if(typeof contactSurname !== "undefined") { %>value="<%= contactSurname %>"<% } %>required>
        </div>

        <div class="formItem">
            <label for="contactName">Имя</label>
            <input type="text" id="contactName" name="contactName"
            <% if(typeof contactName !== "undefined") { %>value="<%= contactName %>"<% } %>>
        </div>

        <div class="formItem">
            <label for="contactJob">Должность</label>
            <input type="text" id="contactJob" name="contactJob"
            <% if(typeof contactJob !== "undefined") { %>value="<%= contactJob %>"<% } %>>
        </div>

        <div class="formItem">
            <label for="contactCompany">Компания</label>
            <input type="text" id="contactCompany" name="contactCompany"
            <% if(typeof contactCompany !== "undefined") { %>value="<%= contactCompany %>"<% } %>>
        </div>

        <% if(typeof contactTel !== "undefined" && contactTel.length) {
            var contactTelLength = contactTel.length;
            contactTel.forEach(function(item, itemIndex) {
                var contactTelIndex = itemIndex + 1; %>
                <div class="formItem">
                    <label for="contactTel-<%= contactTelIndex %>">Телефон-<%= contactTelIndex %></label>
                    <input type="text" id="contactTel-<%= contactTelIndex %>" name="contactTel-<%= contactTelIndex %>" value="<%= item %>">
                    <% if(itemIndex === contactTelLength - 1) { %><span class="addInputField"></span><% } %>
                </div>
        <% });%>
        <% } else { %>
                <div class="formItem">
                    <label for="contactTel-1">Телефон-1</label>
                    <input type="text" id="contactTel-1" name="contactTel-1">
                    <span class="addInputField"></span>
                </div>
        <% } %>

        <% if(typeof contactInet !== "undefined" && contactInet.length) {
            var contactInetLength = contactInet.length;
            contactInet.forEach(function(item, itemIndex) {
                var contactInetIndex = itemIndex + 1; %>
                <div class="formItem">
                    <label for="contactInet-<%= contactInetIndex %>">Internet-<%= contactInetIndex %></label>
                    <input type="text" id="contactInet-<%= contactInetIndex %>" name="contactInet-<%= contactInetIndex %>" value="<%= item %>">
                    <% if(itemIndex === contactInetLength - 1) { %><span class="addInputField"></span><% } %>
                </div>
            <% });%>
        <% } else { %>
                <div class="formItem">
                    <label for="contactInet-1">Internet-1</label>
                    <input type="text" id="contactInet-1" name="contactInet-1">
                    <span class="addInputField"></span>
                </div>
        <% } %>

        <div class="formItem">
            <label for="contactAddress">Адрес</label>
            <textarea rows="3" cols="26" id="contactAddress" name="contactAddress"><% if(typeof contactAddress !== "undefined") { %><%= contactAddress %><% } %></textarea>
        </div>

    </form>
</div>