#contsHeader {

    #contsSearch {
        margin-left: 15px;

        input[type=search] {
            width: 156px;
        }
    }

}

#contsMain {

}

#contactList {
    height: 100%;
    padding-top: 3px;
    padding-bottom: 10px;
    .boxSizing;
}

#contactMenu {
    float: left;

    li {
        cursor: pointer;
        .transition(background-color, 0.3s);

        &:hover {
            background-color: @grey;
        }
    }

    & > ul > li {
        position: relative;
        display: block;
        float: left;
        height: 26px;
        padding: 6px 10px;
    }
}

#addContact {
    background: url(../resources/addContact.png) 5px center no-repeat;
    padding-left: 32px !important;
}

.grid {
    width: 1115px;
    position: relative;
    height: 100%;
    min-height: 500px;
    padding-top: 32px;
    .boxSizing;
    background-color: transparent;

    ._thead {
        width: 100%;
        position: absolute;
        top: 0;
        left: 32px;

        ._tr {
            height: 30px;
            font-size: 15px;
            font-weight: bold;
            background-color: @mcolorLight;
            border-bottom: 1px solid @mcolor;
        }
    }

    ._tbody {
        height: 100%;
        width: 100%;
        padding-left: 32px;
        overflow-y: scroll;

        ._tr {
            font-size: 13px;
            position: relative;
            cursor: default;
            border-bottom: 1px solid @grey;
            .transition(background-color, 0.2s);

            //&:nth-of-type(even) {
            //    background-color: @greyLight;
            //}

            &:hover {
                background-color: @greyLight;
            }

            &.noBottomBorder {
                border-bottom-color: @greyLight;
            }

            &.selectedContact {
                border: 1px solid #F69322;

                ._td a[href^=tel], ._td a[href^=mailto] {
                    &:hover {
                        color: @black;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    ._th, ._td {
        display: inline-block;
        vertical-align: middle;
        width: 130px;
        padding: 5px 6px;
        text-align: left;
        text-overflow: ellipsis;
        //white-space: pre-wrap;
        //vertical-align: middle;
        word-wrap: break-word;
        &[data-column="contactInet"], &.cell_contactInet {
            width: 180px;
        }
    }

    ._th {
        a {
            display: inline-block;
            line-height: 1.4;
            cursor: default;
        }

        &.sortable {
            color: @selected;

            &.activeHeader a {
                text-decoration: underline;
            }

            a:hover {
                cursor: pointer !important;
            }
        }

        .sortCaret {
            display: inline-block;
            width: 10px;
            height: 19px;
            vertical-align: bottom;
            margin-left: 4px;
            background: url(../resources/sortContacts.png) no-repeat center top;
            &.DESC {
                background-position: bottom;
            }
            &.ASC {
                background-position: top;
            }
        }

        &:nth-last-of-type(1) {
            width: 180px;
        }
    }

    ._td {
        a {
            font-weight: bold;
            &[href^=tel], &[href^=mailto] {
                color: @mcolorDark;
            }
            &[href^=http] {
                color: @selected;
            }
        }

        span {
            display: block;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        span.filterHighlight {
            background-color: @green;
            display: inline;
        }

        &:nth-last-of-type(1) {
            width: 165px;
        }
        &.cell_contactCompany {
            font-weight: bold;
        }
    }

}

#formAddContact {
    width: 315px;
}

.showEditContact {
    cursor: pointer;
    display: block;
    width: 32px;
    height: 32px;
    background: url(../resources/editContact.png) no-repeat center top;
    position: absolute;
    top: -1px;
    left: -32px;

    &:hover {
        .opacity(0.7);
    }
}