<div class="grid">
  <div class="_thead">
    <ul class="_tr">
        <% for(var item in columns) {
          if(columns.hasOwnProperty(item)) { %>
            <li class="_th<% if(item === 'contactSurname' || item === 'contactName' || item === 'contactCompany') { %> sortable<% } %>" data-column="<%= item %>"><a><%= columns[item] %></a></li>
        <% }} %>
    </ul>
  </div>

  <div class="_tbody"></div>
</div>