<% filterString = filterString.replace(/[^а-яА-ЯЁё\w\-]/gi, '\\$&');
   var mailtoFilter = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/,
       re = new RegExp(filterString, 'gi');
   collection.forEach(function(model, index) { %>
    <ul data-id="<%=model.get('id')%>" class="_tr<% if(collection[index+1] && collection[index+1].attributes['contactCompany'] && model.attributes['contactCompany'] && model.attributes['contactCompany'].toLowerCase() === collection[index+1].attributes['contactCompany'].toLowerCase()) { %> noBottomBorder<% } %>">
      <% for(var param in model.attributes) {
         if(model.attributes.hasOwnProperty(param) && (param !== 'id')) {
           var valueString = model.attributes[param] || ''; %>
           <li class="_td <%= 'cell_' + param %>"><% if(param === 'contactTel' || param === 'contactInet') {
               valueString.forEach(function(item) {%>
                 <span><% if(param === 'contactTel') { %><a href="tel:<%= item %>"><%= item.replace(re, '<span class="filterHighlight">$&</span>') %></a><% } else if(param === 'contactInet') { %><% if(mailtoFilter.test(item)) { %><a href="mailto:<%= item %>"><% } else { %><a href="http://<%= item %>" target="_blank"><% } %><%= item.replace(re, '<span class="filterHighlight">$&</span>') %></a><% } %></span>
                <% });
            }
            else { %><%= valueString.replace(re, '<span class="filterHighlight">$&</span>') %><% } %></li>
      <% }} %>
    </ul>
<% }); %>