<header id="contsHeader" class="subHeader">
    <div id="contactMenu">
        <ul>
            <li id="addContact">Добавить<br/>контакт</li>
        </ul>
    </div>

    <div id="contsSearch" class="searchForm">
        <input type="search" placeholder="фильтр контактов">
        <span class="searchIcon"></span>
    </div>
</header>


<div id="contsMain" class="mainDiv">
    <div id="contactList"></div>
</div>