#dialogContainer {
    //width: 300px;
    background-color: @white;
    position: absolute;
    z-index: 41;
    visibility: hidden;
    .boxShadow(0 0 16px 1px @greys);
    .opacity(0.2);
    .transition(opacity, 0.6s, ease-out);

    &.scene {
        visibility: visible;
        .opacity(1);
    }

    #dialogTitle {
        padding: 10px;
        font-size: 14px;
        min-height: 14px;
        background-color: @grey;
        &:hover {
            cursor: pointer;
        }
    }

    #dialogContent {
        padding: 10px 20px;
    }

    #dialogMsg {
        color: @errorColor;
        padding: 5px 20px;
        line-height: 1.2;
        min-height: 16px;
    }

    #dialogButtons {
        padding: 10px;
        float: right;
    }

    #dialogCloser {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../resources/close.png) center center no-repeat;
        cursor: pointer;
    }
}

#dialogShadow {
    visibility: hidden;
    .opacity(0.15);
    //.transition(opacity, 0.4s);

    &.fog {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        visibility: visible;
        background-color: @black;
        zoom: 1;
        z-index: 31;
    }
}

.addInputField {
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 3px;
    width: 22px;
    height: 22px;
    background: url(../resources/addInput.png) center center no-repeat;
    cursor: pointer;

    &:hover {
        .opacity(0.6);
    }
}