<div id="addTaskDialog">
    <form id="formAddTask" action="#" autocomplete="off" title="Добавление задачи">
        <div class="formItem">
            <textarea rows="9" cols="49" name="taskText" required<% if(typeof taskStatus !== "undefined" && taskStatus === "finished") {%> disabled<%}%>><% if(typeof taskText !== "undefined") { %><%= taskText %><% } %></textarea>
        </div>
        <div class="formItem">
            <label for="taskDate">Дата выполнения</label>
            <input type="text" class="datepickerLink" id="taskDate" name="taskDate" required
            <% if(typeof taskDate !== "undefined"){%>value="<%= taskDate %>"<%}%><% if(typeof taskStatus !== "undefined" && taskStatus === "finished") {%> disabled<%}%>>
        </div>
        <div class="formItem">
            <label for="taskPerformer">Исполнитель</label>
            <select id="taskPerformer" name="taskPerformer" required<% if(typeof taskStatus !== "undefined" && taskStatus === "finished") {%> disabled<%}%>>
            <% _.each(UserPanel.getUserModelData("allUsers"), function(user, userIndex) { %>
            <option value="<%= userIndex %>" <% if(typeof taskPerformer !== "undefined" && taskPerformer === userIndex) { %> selected<% } %>><%= user %></option>
            <% }); %>
            </select>
        </div>
        <div class="formItem">
            <label for="taskHighPriority">важное</label>
            <span class="taskHighPriorityImg"></span>
            <input type="checkbox" id="taskHighPriority" name="taskHighPriority"
            <% if(typeof taskHighPriority !== "undefined" && taskHighPriority === true) { %>checked<% } %><% if(typeof taskStatus !== "undefined" && taskStatus === "finished") {%> disabled<%}%>>
        </div>
    </form>
</div>