<div class="thumbContent">
    <span class="projImg" style="background-image: url(<%= projectImg %>)"></span>

    <div>
        <h3><%= projectName %></h3>
        <h6><%= projectClient %></h6>
        <% var dayHours = 15 * 60*60*1000,
               currentTime = new Date().getTime(),
               allHasDone = typeof firstInworkPoint !== 'undefined' && !firstInworkPoint,
               hasExpired = !!projectDateFinish && (currentTime > new Date(projectDateFinish).getTime() + dayHours);%>
        <strong class="projDateFinish<%if(projectState === 'work' && allHasDone) {%> allDone<%} else if(projectState === 'work' && hasExpired){%> expired<%}%>"><%= Util.prettifyDate(projectDateFinish, true) %></strong>
        <ul class="paramBlock">
            <% projectParams.forEach(function(param, paramIndex) {
              if(paramIndex === 4 && param.value) {
                 var valueString = Projects.makeProjectLinks(param.value);
              } else {
                 var valueString = param.value;
              } %>
              <li data-id="<%= paramIndex %>"><span class="paramTitle"><%= param.title %>: </span><%= valueString %></li>
            <% }); %>
        </ul>
        <ul class="taskBlock">
            <% var performer = Projects.projectsModel.get('performerFilter'),
                   currentYear = Util.getYear(),
                   projectTasksCount = 0;
            projectTasks.forEach(function(task) {
               var taskHasExpired = !!task.taskDate && task.taskStatus !== 'finished' && (currentTime > new Date(task.taskDate).getTime() + dayHours),
                   textString = Projects.makeProjectLinks(task.taskText);
               if(!!task.taskDate && currentYear === +task.taskDate.slice(0, 4)) {var taskDate = Util.prettifyDate(task.taskDate);}
               else {var taskDate = Util.prettifyDate(task.taskDate, true);}
               if(performer === 'all' || performer === task.taskPerformer) {
                 if(task.taskStatus !== 'finished') {++projectTasksCount;} %>
                 <li class="task<% if(task.taskStatus === 'finished') {%> taskFinished<%}%><% if(task.taskHighPriority) {%> highPriorityTask<%}%>" data-id="<%= task.taskId %>"><strong<%if(taskHasExpired){%> class="expired"<%}%>><%= taskDate %></strong><br/><%= textString %><br/><strong>Исполнитель: <%= UserPanel.getUserModelData("allUsers")[task.taskPerformer] %></strong></li>
            <% } }); %>
        </ul>
    </div>
    <span class="projectStatus status-<% if(projectData[0][1].status === 'inwork' || projectData[0][2].status === 'inwork') { %>query<% } else { %><%= projectState %><% } %>"></span>
    <span class="projectTasksCount"><%= projectTasksCount || '' %></span>
<div class="thumbLimiter"></div>
</div>

<div class="projectDetails">
    <ul class="stateGroupBlock">
        <% projectData.forEach(function(projState, stateIndex) { %>
        <li class="stateGroup" data-id="<%= stateIndex %>">
            <span><%= projState[0].groupName %></span>
            <ul class="statePointBlock">
                <%  projState.forEach(function(point, pointIndex) {
                if(pointIndex !== 0) { %>
                <li class="statePoint <%= point.status %>" data-id="<%= pointIndex %>"><span><%= point.title %></span>
                    <% if(typeof point.date !== "undefined" && point.date) { %>
                    <input type="text" class="statePointDate datepickerLink" name="statePointDate" value="<%= point.date %>"/>
                    <% } %>
                    <% if(typeof point.note !== "undefined" && point.note) { %>
                    <span class="statePointNote"><%= Projects.makeProjectLinks(point.note) %></span>
                    <% } %>
                </li>
                <% }}); %>
            </ul>
        </li>
        <% }); %>
    </ul>
</div>