#projectList {
    float: left;
    position: relative;
    width: 1016px;
    min-height: 545px;
    height: 100%;
    overflow-y: scroll;
    margin-left: 4px;
    .boxSizing;

    [id^=state-] {
        float: left;
        width: 323px;
        //min-height: 120px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 4px;
    }
}

#projectListContent {
    float: left;
    &.hidden {
        display: none;
    }
}

.projectThumb {
    float: left;
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 6px;
    border: 1px solid @grey;
    .boxSizing;

    h3 {
        margin-bottom: 3px;
    }

    &:hover {
        //.boxShadow(0px 1px 4px 0px @greys);
        //text-shadow: @grey 0 1px 0;
        border-color: @greys;
    }

    .thumbContent {
        //position: relative;
        float: left;
        width: 100%;
        cursor: pointer;
        height: 180px;
        min-height: 180px;
        overflow-y: hidden;
    }

    strong.projDateFinish {
        line-height: 1.4;
        margin-left: 6px;

        &.expired {
            color: @errorColor;
        }
        &.allDone {
            color: @green;
        }
    }

    .taskBlock {
        font-size: 12px;
        margin-top: 10px;
        color: @greys;
        display: none;

        li {
            position: relative;
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 1.3;
            border-top: 1px solid @mcolorLight;
            white-space: pre-wrap;

            strong:first-of-type {
                color: @selected;
                &.expired {
                    color: @errorColor;
                }
            }

            &.taskFinished {
                display: none;
                color: @mcolorDark;
                margin-left: 12px;

                strong:first-of-type {
                    color: @mcolorDark;
                }
                &.scene {
                    display: list-item;
                }
            }

            &.highPriorityTask {
                color: @orange;
            }

            &.selectedTask {
                color: @selected;
                &.highPriorityTask {
                    color: darken(@orange, 15%);
                }

                span.extProjectLink {
                    &:hover {
                        color: @selected;
                        text-decoration: underline;
                    }
                }
            }

            &:hover {
                color: @black;
                &.highPriorityTask {
                    color: darken(@orange, 8%);
                }
            }
        }
    }

    &.selected {
        background-color: @mcolorLight;

        .thumbContent {
            height: auto;
        }

        .taskBlock {
            display: block;
        }

        .thumbLimiter {
            display: none;
        }

        .paramBlock span.extProjectLink, .projectDetails span.extProjectLink {
            &:hover {
                color: @selected;
                text-decoration: underline;
            }
        }
    }

    &.deletingProject {
        border: 1px solid @errorColor;
        .boxShadow(0 0 16px 1px @errorColor);
    }

    .projectStatus {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 16px;
        height: 16px;
    }

    .projectTasksCount {
        position: absolute;
        top: 4px;
        right: 16px;
        font-size: 10px;
    }

    .paramBlock {
        margin-top: 3px;
        font-size: 12px;
        min-height: 55px;

        li {
            line-height: 1.15;
            &[data-id="4"] {
                white-space: pre-wrap;
            }
            span.paramTitle {
                color: @greys;
            }
        }
    }

    &.thumb-work {

    }

    &.thumb-query, &.thumb-arch {
        .thumbContent {
            height: 68px;
            min-height: 68px;
            //        .transition(max-height, 0.6s);
        }
        .projImg {
            width: 70px;
            height: 70px;
        }
        .thumbLimiter {
            display: none;
        }

        &.expanded {
            .thumbContent {
                height: auto;
            }
            .projImg {
                width: 120px;
                height: 120px;
            }
        }
    }

    &.thumb-query {
        border-color: @orange;
    }

    .thumbLimiter {
        width: 100%;
        height: 30px;
        display: block;
        position: absolute;
        z-index: 8;
        top: 160px;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%) no-repeat;
    }
}

.projImg {
    display: block;
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.projectDetails {
    display: none;
    width: 295px;
    background-color: @mcolorLight;
    border: 1px solid @greys;
    position: absolute;
    top: -1px;
    z-index: 11;

    input {
        background-color: @mcolorLight;
    }

    li.statePoint {
        width: 260px;
        padding-left: 18px;
        cursor: pointer;
        color: @errorColor;
        margin-bottom: 5px;
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 14px;
            height: 14px;
            background: url(../resources/statePointToggle.png) 0 -28px no-repeat;
        }

        &.inwork {
            &.expired {
                color: @orange;
                &:before {
                    background-position: 0 -14px;
                }
            }
        }
        &.finished {
            color: @black;
            &:before {
                background-position: 0 0;
            }
        }
        &.noneed {
            color: @greys;
            >span:first-of-type {
                text-decoration: line-through;
            }
        }

        &:hover {
            color: @mcolorDark !important;
        }

        .statePointDate {
            float: right;
            font-size: 11px;
            border: none;
            background-color: inherit;
            max-width: 60px;
            text-align: right;
            cursor: pointer;

            &:hover {
                color: @mcolorDark;
            }
        }
        span.statePointNote {
            display: block;
            margin-left: 8px;
            margin-top: 3px;
            font-size: 10px;
            white-space: pre-wrap;
            border-left: 1px solid;
            padding-left: 2px;
        }
    }

    .stateGroup {

        & > span {
            font-weight: bold;
        }
    }
    .stateGroupBlock {
        padding: 5px;
        font-size: 13px;
        border-top: 1px solid @mcolorLight;
    }
    .statePointBlock {
        padding: 5px 0 5px 5px;
    }

    .selectedRow {
        outline: 1px solid @selected;
    }

    .projectDetailsButtons {
        padding: 5px;
        float: right;
    }

    &.detOpened {
        display: block;
    }
}

#toggleStatePointTool {
    display: none;
    width: 100px;
    cursor: pointer;
    .boxShadow(0 0 16px 1px @black);
    background-color: @greyLight;
    position: absolute;
    z-index: 11;

    li {
        line-height: 1.3;
        padding: 5px;
        &[data-id="inwork"] {
            color: @errorColor;
        }
        &[data-id="finished"] {
            color: @black;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 5px;
                top: 5px;
                width: 14px;
                height: 14px;
                background: url(../resources/statePointToggle.png) 0 0 no-repeat;
            }
        }
        &[data-id="noneed"] {
            color: @greys;
            text-decoration: line-through;
        }

        &:hover {
            background-color: @mcolorLight;
        }
    }

    #addStatePointNote {
        line-height: 1.9;
        height: 24px;
        padding: 2px 2px 2px 30px;
        color: @mcolorDark;
        font-size: 12px;
        background: url(../resources/editStatePointNote.png) 2px -2px no-repeat;
        &:hover {
            background-color: @mcolorLight !important;
        }
    }

    #statePointNoteWrap.formItem {
        display: none;
        float: left;
        margin-bottom: 0;
        background-color: @greyLight;
        padding-left: 2px;
        padding-right: 2px;
        .boxShadow(0 0 16px 1px @black);

        textarea {
            width: 250px;
        }

        span {
            width: 24px;
            height: 24px;
            display: block;
            float: right;
            padding: 5px;
            &:hover {
                .opacity(0.5);
            }
        }

        #deleteStatePointNote {
            float: left;
            background: url(../resources/editStatePointNote.png) center -34px no-repeat;
        }
        #saveStatePointNote {
            background: url(../resources/editStatePointNote.png) center -68px no-repeat;
        }
        #closeStatePointNote {
            margin-left: 10px;
            background: url(../resources/editStatePointNote.png) center -102px no-repeat;
        }
    }

    &.showTool {
        display: block;
    }
}
