<div id="addProjectDialog">
    <form id="formAddProject" action="#" autocomplete="off" title="Добавление проекта">
        <div class="formItem">
            <label for="projectImg">Эскиз</label>
                <span class="projImg loadedImg" style="background-image: url(<% if(typeof projectImg !== "undefined") { %><%= projectImg %><% }
                else { %>data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==<% } %>)">
                </span>
            <input id="projectImg" type="file" accept="image/*" name="projectImg">
        </div>
        <div class="formItem">
            <label for="projectName">Номер проекта</label>
            <input type="text" id="projectName" name="projectName"
            <% if(typeof projectName !== "undefined") { %>value="<%= projectName %>"<% } %>required>
        </div>
        <div class="formItem">
            <label for="projectDateFinish">Срок поставки</label>
            <input type="text" class="datepickerLink" id="projectDateFinish" name="projectDateFinish"
            <% if(typeof projectDateFinish !== "undefined") { %>value="<%= projectDateFinish %>"<% } %>required>
        </div>
        <div class="formItem">
            <label for="paramSubjectCode">Код изделия</label>
            <input type="text" id="paramSubjectCode" name="paramSubjectCode"
            <% if(typeof projectParams !== "undefined") { %>value="<%= projectParams[0].value %>"<% } %>>
        </div>
        <div class="formItem">
            <label for="paramColorMe">Цвет металла</label>
            <input type="text" id="paramColorMe" name="paramColorMe"
            <% if(typeof projectParams !== "undefined") { %>value="<%= projectParams[1].value %>"<% } %>>
        </div>
        <div class="formItem">
            <label for="paramTextureDSP">Текстура ДСП</label>
            <input type="text" id="paramTextureDSP" name="paramTextureDSP"
            <% if(typeof projectParams !== "undefined") { %>value="<%= projectParams[2].value %>"<% } %>>
        </div>
        <div class="formItem">
            <label for="paramEdgeDSP">Цвет кромки</label>
            <input type="text" id="paramEdgeDSP" name="paramEdgeDSP"
            <% if(typeof projectParams !== "undefined") { %>value="<%= projectParams[3].value %>"<% } %>>
        </div>
        <div class="formItem">
            <label for="paramNote">Заметка</label>
            <textarea rows="6" cols="43" id="paramNote" name="paramNote"><% if(typeof projectParams !== "undefined") { %><%= projectParams[4].value %><% } %></textarea>
        </div>
        <% if(typeof projectDateStart !== "undefined" && Projects.projectsModel.get('currentState') === "query") { %>
            <div class="formItem">
                <span class="startDate">Проект создан <%= Util.prettifyDate(projectDateStart, true) %></span>
            </div>
        <% } %>
    </form>
</div>