<header id="projectsHeader" class="subHeader">
    <div id="projectMenu">
        <ul>
            <li id="selectProjects" class="dropdown">
                <a href="#statusTab" class="statusSelected"></a>
                <ul class="dropdownMenu">
                    <li><span class="status-work"></span><a href="#!status:work">Рабочие</a></li>
                    <li><span class="status-query"></span><a href="#!status:query">Запросы</a></li>
                    <li><span class="status-arch"></span><a href="#!status:arch">Архив</a></li>
                </ul>
            </li>
            <li id="yearCarousel">
                <div id="arrowL" class="hoverCircle"></div>
                <div id="selectedYear">
                    <input type="text" maxlength="4" value="">
                </div>
                <div id="arrowR" class="hoverCircle"></div>
            </li>
            <li id="addProject"><span class="headerIcon"></span>Добавить<br/>проект</li>
            <li id="handleFile" class="dropdown">
                <span class="headerIcon"></span>
                <a href="#fileTab"></a>
                <ul class="dropdownMenu">
                    <li><a href="#!file:upload">Прикрепить спецификацию</a></li>
                    <li><a href="#!file:delete">Удалить спецификацию</a></li>
                </ul>
            </li>
        </ul>

        <input id="uploadProjectSpec" name="projectSpec" type="file" accept="application/pdf"/>
        <a href="#" id="downloadProjectSpec" target="_self">download_spec</a>
    </div>

    <div id="projectsSearch" class="searchForm">
        <input type="search" placeholder="найти проект">
        <span class="searchIcon"></span>
    </div>
</header>

<div id="projectsMain" class="mainDiv">
    <div id="taskCalendar">
        <div id="taskCalendarContent"></div>
    </div>

    <div id="projectList">
        <div id="projectListContent"></div>

        <div id="toggleStatePointTool">
            <div>
                <ul>
                    <li data-id="inwork">в работе</li>
                    <li data-id="finished">завершено</li>
                    <li data-id="noneed">не нужно</li>
                </ul>
                <div id="addStatePointNote">заметка</div>
            </div>
            <div id="statePointNoteWrap" class="formItem">
                <textarea rows="3" cols="36" id="statePointNote" name="statePointNote"></textarea>
                <span id="closeStatePointNote"></span>
                <span id="saveStatePointNote"></span>
                <span id="deleteStatePointNote"></span>
            </div>
        </div>

        <div id="pickadateContainer"></div>
    </div>

    <footer id="projectFooter"><span></span></footer>
</div>