#projectsHeader {

    .activeElement {
        display: block !important;
    }

    #projectsSearch {

        input[type=search] {

        }

    }
}

#projectMenu {
    float: left;

    li {
        cursor: pointer;
        .transition(background-color, 0.3s);

        &:hover {
            background-color: @grey;
        }
    }

    & > ul > li {
        position: relative;
        display: block;
        float: left;
        height: 26px;
        padding: 6px 9px;
    }

    .dropdownMenu {
        background-color: @white;
        min-width: 84px;
        left: 0;
        right: auto;
        border: 1px solid @greys;
        border-top: none;
    }

    li#yearCarousel {
        padding-left: 30px;
        padding-right: 30px;
        display: none;

        &:hover {
            background-color: inherit;
        }

        #selectedYear {
            line-height: 2;

            input {
                font-size: 14px;
                width: 29px;
                margin-top: 4px;
                border: 0;
                outline: none;

                &:hover {
                    font-weight: bold;
                }
                &:focus {
                    //border-bottom: 1px solid @mcolor;
                }
            }
        }

        #arrowL, #arrowR {
            width: 24px;
            height: 24px;
            background: url(../resources/arrows.png) center 0 no-repeat;
            position: absolute;
            top: 7px;
            cursor: pointer;
        }
        #arrowL {
            left: 1px;
        }
        #arrowR {
            background-position: center -24px;
            right: 1px;
        }
    }

    li#handleFile {
        .headerIcon {
            background: url(../resources/projects-header.png) -24px center no-repeat;
        }
        width: 34px;
        display: none;

        & > a:after {
            right: 8px;
        }

        .dropdownMenu {
            min-width: 100px;
        }
    }
}

.headerIcon {
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 4px;
}

#addProject .headerIcon {
    background: url(../resources/projects-header.png) 0 center no-repeat;
}

#selectProjects {

    span[class^=status-] {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin: 7px 3px 0 4px;
    }
    & > a:after {
        top: 55%;
        right: auto;
        left: 9px;
    }
    .statusSelected {
        //        font-size: 12px;
    }
}

.status-work {
    background: url(../resources/status.png) 0 center no-repeat;
}

.status-query {
    background: url(../resources/status.png) -16px center no-repeat;
}

.status-arch {
    background: url(../resources/status.png) -32px center no-repeat;
}

#uploadProjectSpec {
    display: none;
}

#downloadProjectSpec {
    display: none;
}

#projectsMain {
    padding-bottom: 22px;

    span.extProjectLink {
        font-weight: bold;
    }
}

.showEditTask {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../resources/editTask.png) no-repeat center top;
    position: absolute;
    top: -1px;
    right: 3px;
    z-index: 11;
}

#searchList {

    li {
        margin-top: 3px;
        border-bottom: 1px solid @mcolorLight;
        &>span {
            display: inline-block;
            margin-left: 8px;
        }

        &.searchResultLine {
            &>span {
                vertical-align: top;
                margin-top: 8px;
            }
            &.search-work {
                color: darken(@green, 8%);
            }
            &.search-query {
                color: darken(@orange, 8%);
            }
            &.search-arch {
                color: @greys;
            }
            &.search-deleted {
                color: @errorColor;
            }

            &:hover {
                background-color: @greyLight;
            }
        }

        &.searchResultTitle {
            font-weight: bold;
        }

        .searchResultImgTitle {
            width: 50px;
            margin-left: 0;
        }
        .searchResultImg {
            width: 50px;
            height: 50px;
            margin: 0 !important;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center top;
        }

        .searchResultName {
            width: 92px;
            white-space: nowrap;
        }
        .searchResultState {
            width: 52px;
        }
        .searchResultConsole {
            width: 186px;
            font-size: 12px;
        }

        .searchResultCustomerCode {
            width: 25px;
        }
        .searchResultCustomerName {
            width: 364px;
        }
        span.searchHighlight {
            background-color: @green;
        }
    }
}

#projectFooter {
    width: 100%;
    height: 10px;
    padding: 3px;
    margin-top: 5px;
    float: left;
    border-top: 1px solid @grey;
    font-size: 10px;

    span {
        float: right;
    }
}

//redefine pickadate styles

td[role="presentation"]:nth-of-type(6), td[role="presentation"]:nth-of-type(7) {
    color: #b94a48;
}

th.picker__weekday:nth-of-type(6), th.picker__weekday:nth-of-type(7) {
    color: #b94a48;
}