<%  searchNumber = searchNumber.replace(/[^а-яА-ЯЁё\w\-]/gi, '');
    var re = new RegExp(searchNumber, 'gi'); %>
<div id="searchList">
<% if(searchType === "projectCustomerName") { %>
    <ul>
        <li class="searchResultTitle">
            <span class="searchResultCustomerCode">Код</span>
            <span class="searchResultCustomerName">Заказчик</span>
        </li>
        <% Object.keys(searchResult).forEach(function(res) { %>
        <li data-search-code="<%= res %>" class="searchResultLine">
            <span class="searchResultCustomerCode"><%= res %></span>
            <span class="searchResultCustomerName"><%= searchResult[res].replace(re, '<span class="searchHighlight">$&</span>') %></span>
        </li>
        <% }); %>
    </ul>
<% } else { %>
    <ul>
        <li class="searchResultTitle">
            <span class="searchResultImgTitle"></span>
            <span class="searchResultName">№ проекта</span>
            <span class="searchResultState">статус</span>
            <span>код стойки</span>
        </li>
        <% searchResult.forEach(function(res, num) {
               var projectConsole = res.projectConsole || '--'; %>
        <li data-search-num="<%= num %>" class="searchResultLine <%='search-' + res.projectState%>">
            <span class="searchResultImg" style="background-image: url(<%= res.projectImg %>)"></span>
            <span class="searchResultName">
                <% if(searchType === "any") { %>
                    <%= res.projectName.replace(re, '<span class="searchHighlight">$&</span>') %>
                <% } else { %>
                    <%= res.projectName %>
                <% } %>
            </span>
            <span class="searchResultState"><%= Projects.props.stateCodesRus[res.projectState] %></span>
            <span class="searchResultConsole">
                <% if(searchType === "any" || searchType === "projectConsole") { %>
                    <%= projectConsole.replace(re, '<span class="searchHighlight">$&</span>') %>
                <% } else { %>
                    <%= projectConsole %>
                <% } %>
            </span>
        </li>
        <% }); %>
    </ul>
    <% } %>
</div>