///// dropdown

.dropdown, .dropup {
    //    padding-right: 18px;

    & > a:after {
        border: 7px solid transparent;
        border-top-color: inherit;
        content: "";
        position: absolute;
        top: 58%;
        right: 12px;
    }
}

.dropdownMenu {
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 22;
    display: none;

    li > a {
        font-weight: normal;
        padding: 8px;
        line-height: 1.2;
    }
}

.dropdown > .dropdownMenu {
    border-top: 0;
    top: 100%;
}

.dropup > .dropdownMenu {
    border-bottom: 0;
    bottom: 100%;
}

//.dropdown.open {
//  background-color: @mcolor;
//}

.open > .dropdownMenu {
    display: block;
}