///// fonts & colors

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro'),
    url('../resources/MYRIADPRO-REGULAR.woff') format('woff');
}

@black: #000000;
@white: #FFFFFF;

@greys: #686974;
@grey: #DCDCDC;
@greyLight: lighten(@grey, 9%);

@mcolor: #B4B4D0;
@mcolorLight: lighten(@mcolor, 9%);
@mcolorDark: darken(@mcolor, 22%);

@errorColor: #b94a48;
@selected: #1F4F82;
@orange: #F69322;
@green: #68C312;

///// common CSS

///// ajaxLoader

#ajaxLoader {
    background: url("../resources/ajax-loader.gif") left center no-repeat;
    height: 32px;
    min-width: 32px;
    max-width: 128px;
    position: absolute;
    visibility: hidden;

    &.ajaxLoad {
        visibility: visible;
    }

    .loaderMsg {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding-left: 35px;
        .boxSizing;
        font-size: 12px;
        line-height: 0.9;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .loaderTime {
        display: block;
        position: absolute;
        top: 10px;
        left: 9px;
        font-size: 12px;
    }
}

#ajaxShadow {
    visibility: hidden;
    .opacity(0.15);
    //.transition(opacity, 0.4s);

    &.fog {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        visibility: visible;
        background-color: @black;
        zoom: 1;
        z-index: 31;
    }
}

///// scrollBar

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: @greys;
    outline: 2px solid @grey;
}

body {
    //IE
    scrollbar-face-color: @greys;
    scrollbar-track-color: @grey;
}

///// mixins

.userSelect() {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.transition(@effect, @duration) {
    -webkit-transition: @arguments ease;
    -moz-transition: @arguments ease;
    -ms-transition: @arguments ease;
    -o-transition: @arguments ease;
    transition: @arguments ease;
}

.transition(@effect, @duration, @function) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.boxSizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.boxShadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

.borderRadius(@px: 5px) {
    -webkit-border-radius: @px;
    -moz-border-radius: @px;
    border-radius: @px;
}

.opacity(@opacityLevel) {
    -moz-opacity: @opacityLevel;
    -khtml-opacity: @opacityLevel;
    opacity: @opacityLevel;
    zoom: 1;
}