<div id="addTaskDialog">
    <form id="formAddTask" action="#" autocomplete="off" title="Добавление задачи">
        <div class="formItem">
            <textarea rows="9" cols="49" name="taskText" required><% if(typeof taskText !== "undefined") { %><%= taskText %><% } %></textarea>
        </div>
    </form>
</div>