<div id="helpContent">
    <h4>Поиск:</h4>
    <p>*xx - поиск по коду заказчика через * ;<br/>
        **kkk - поиск по имени заказчика через ** ;<br/>
        ?yy - поиск по названию стойки через ? ;<br/>
        zzz - произвольный поиск.</p>
    <hr/>
    <h4>Календарик:</h4>
    <p>удалить дату - кнопка [del] или [backspace].</p>
    <hr/>
    <h4>В тексте:</h4>
    <p># или № - ссылка на проект.</p>
</div>