<div id="helpInfo"></div>

<div id="userTasksList">
    <span id="userTasksCount"></span>
</div>
<div id="userTasksContent"></div>

<div id="userName" class="dropdown">
    <span class="userImg" style="background-image: url(<%=userAvatar%>)"></span>
    <a href="#userTab"><%=userName%></a>
    <ul class="dropdownMenu">
        <li><a href="#!user:addUserTask">Добавить&nbsp;задачу</a></li>
        <li><a href="#!user:deleteProject">Удалить&nbsp;проект</a></li>
        <li><a href="#!user:userSettings">Настройки</a></li>
        <li><a href="#!user:logout">Выйти</a></li>
    </ul>
</div>