<div id="userTasksContentWrap">
    <% if(userTasks.length) { %>
        <ul>
           <% userTasks.forEach(function(userTask, userTaskIndex) { %>
             <li class="userTask" data-id="user_<%= userTaskIndex %>"><%= userTask %></li>
           <% }); %>
        </ul>
    <% } else { %>
        <p>Нет задач...</p>
    <% } %>
</div>