#user {
    float: right;
    height: 42px;
    position: relative;
    cursor: pointer;
}

#helpInfo {
    float: left;
    width: 24px;
    height: 24px;
    padding: 9px;
    background: url(../resources/help.png) center center no-repeat;
    &:hover {
        background-color: @black;
    }
}

#helpContent {
    p {
        margin-bottom: 8px;
        margin-left: 8px;
    }
}

#userTasksList {
    float: left;
    width: 24px;
    height: 24px;
    padding: 9px;
    background: url(../resources/userList.png) center center no-repeat;
    position: relative;

    &:hover {
        background-color: @black;
    }

    &.active {
        background-color: @black;
    }

    #userTasksCount {
        position: absolute;
        top: 6px;
        left: 2px;
        color: @greyLight;
        font-size: 10px;
    }
}

#userTasksContent {
    position: absolute;
    visibility: hidden;
    z-index: 21;
    top: 48px;
    right: 23px;
    .boxShadow(0 0 16px 1px @greys);

    padding: 10px 2px 10px 10px;
    width: 336px;
    font-size: 12px;
    color: @greys;
    background-color: @greyLight;
    .opacity(0);
    .transition(opacity, 0.3s);

    &.scene {
        visibility: visible;
        .opacity(1);
    }

    #userTasksContentWrap {
        min-height: 250px;
        max-height: 550px;
        overflow-y: scroll;
    }

    li.userTask {
        line-height: 1.3;
        padding: 4px 2px;
        position: relative;
        white-space: pre-wrap;

        &:hover {
            color: @black;
        }

        &.selectedTask {
            color: @selected;
        }

        & + li.userTask {
            border-top: 1px solid @mcolor;
        }
    }

    .showEditUserTask {
        display: block;
        width: 32px;
        height: 32px;
        background: url(../resources/editTask.png) no-repeat center top;
        position: absolute;
        top: -4px;
        right: 3px;
        z-index: 22;
    }
}

.userImg {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    //border: 1px solid @black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#userName {
    padding: 0 10px;
    float: left;

    & > a {
        display: inline-block;
        font-size: 16px;
        margin: 8px 0 0 5px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:after {
            top: 60%;
            right: 10px;
        }
    }

    & > ul.dropdownMenu {
        width: 130px;
        background-color: @greys;

        & > li:hover {
            background-color: @black;
        }
        & > li:last-of-type {
            border-top: 1px solid;
        }
    }
    &:hover {
        background-color: @black;
        .userImg {
            background-color: @greys;
        }

    }
}

#userData {
    width: 310px;

    label {
        width: 110px;
    }

    h3 {
        margin-bottom: 10px;
        margin-left: -2px;
        padding-top: 10px;
    }

    .formItem:last-of-type {
        height: 30px;
        padding-top: 20px;
        color: @mcolorDark;
        label {
            padding-top: 2px;
        }
    }
}