<form id="userData" method="POST" action="#" autocomplete="off">
    <% if(action === 'userSettings') { %>
    <h3>Смена пароля</h3>
    <div class="formItem">
        <label for="inputPassword">Новый пароль</label>
        <input type="password" id="inputPassword" name="inputPassword" autocomplete="off" required/>
    </div>

    <h3>Смена аватара</h3>
    <div class="formItem">
        <label for="userAvatar">Аватар</label>
        <span class="userImg loadedImg" style="background-image: url(<%= userData.userAvatar %>)"></span>
        <input id="userAvatar" type="file" accept="image/*" name="userAvatar"/>
    </div>

    <% } else if(action === 'deleteProject') {%>
    <h3>Удаление проекта</h3>
    <% var currModel = Projects.projectsModel.get('currentModel'); %>
    <h3 id="delProject"><%= currModel.get('projectName') %></h3>
    <h5><%= currModel.get('projectClient') %></h5>
    <% } %>

    <div class="formItem">
        <label for="currentPassword">Введите текущий пароль</label>
        <input type="password" id="currentPassword" name="currentPassword" autocomplete="off" required/>
    </div>
</form>