#taskCalendar {
    position: relative;
    float: left;
    width: 333px;
    min-height: 545px;
    height: 100%;
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 34px;
    .boxSizing;
    font-size: 12px;
    color: @greys;
}

#taskListFilter {
    position: absolute;
    top: 1px;
    right: 21px;
    height: 28px;

    #taskCount {
        position: absolute;
        top: 8px;
        right: 24px;
        color: @mcolorDark;
        cursor: default;
    }
}

#taskCalendarContent {
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#taskList {
    margin-right: 2px;

    span.taskDate {
        font-size: 14px;
        font-weight: bold;
        color: @selected;

        &.expired {
            color: @errorColor;
        }
    }

    & > li {
        padding: 5px;
        background-color: @greyLight;
        .boxShadow(0 4px 8px -4px @greys);

        & + li {
            margin-top: 14px;
        }

        &.today {
            border-left: 2px solid @mcolorDark;
        }
        &.expired {
            border-left: 2px solid @errorColor;
        }
    }

    ul.taskBlockList {
        margin-left: 5px;
        margin-top: 2px;
    }

    li.task {
        cursor: pointer;
        line-height: 1.3;
        padding-left: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        position: relative;
        white-space: pre-wrap;

        .taskPerformerSpan {
            margin-left: 3px;
        }

        &.highPriorityTask {
            color: @orange;
        }

        &.selectedTask {
            color: @selected;
            &.highPriorityTask {
                color: darken(@orange, 15%);
            }

            span.extProjectLink {
                &:hover {
                    color: @selected;
                    text-decoration: underline;
                }
            }
        }

        &:hover {
            color: @black;
            &.highPriorityTask {
                color: darken(@orange, 8%);
            }
        }

        & + li.task {
            border-top: 1px solid @mcolor;
        }
    }

    span.projectClient {
        font-weight: bold;
    }
}