<div id="taskListFilter">
    <div class="formItem">
        <label for="taskPerformerFilter">Задачи для</label>
        <select id="taskPerformerFilter" name="taskPerformerFilter">
            <% _.each(UserPanel.getUserModelData("allUsers"), function(user, userIndex) { %>
            <option value="<%= userIndex %>"<% if(Projects.projectsModel.get('performerFilter') === userIndex) {%> selected<%} %>><%= user %></option>
            <% }); %>
            <option value="all">&#60; всех &#62;</option>
        </select>
    </div>
    <div id="taskCount"></div>
</div>