<ul id="taskList">
    <% var today = Util.getDate();
    for(var taskDate in taskList) { %>
    <li <% if(taskDate === today){%> class="today"<%}
        else if(taskDate < today && taskDate !== "..."){%> class="expired"<%}%>>
    <span class="taskDate<%if(new Date().getTime() > new Date(taskDate).getTime()+15*60*60*1000){%> expired<%}%>"><%= Util.prettifyDate(taskDate) %>,&nbsp;<%= Util.getDay(taskDate) %></span>
    <ul class="taskBlockList">
        <% taskList[taskDate].forEach(function(task) {
          var textString = Projects.makeProjectLinks(task.taskText); %>
          <li class="task<% if(task.taskHighPriority) {%> highPriorityTask<%}%>" data-id="<%= task.order %>"><span class="projectClient"><%= task.projectClient %></span><br/><%= textString %><br/><strong class="taskPerformerSpan">&#35; исполнитель: <%= UserPanel.getUserModelData("allUsers")[task.taskPerformer] %></strong></li>
        <% }); %>
    </ul>
    </li>
    <% } %>
</ul>