body {
    font-family: 'Myriad Pro', Candara, sans-serif;
    font-size: 14px;
    //  height: 100%;
    color: @black;
    background-color: @white;
    width: 390px;
    margin: 0 auto;
}

#errorWrap {
    margin-top: 50px;
    background-color: @greyLight;
    .boxShadow(0 0 16px 1px @greys);
}

#errorTitle {
    color: @white;
    background-color: @errorColor;
    height: 40px;

    h2 {
        padding-top: 10px;
        padding-left: 20px;
    }
}

#errorMsg {
    padding: 15px;
    min-height: 100px;
}

#errorFooter {
    padding: 15px 25px;
    display:inline-block;
    .boxSizing;
    width: 100%;

    #reLogin {
       float: left;
    }
    #masterprojectSite {
       float: right;
    }
}