body {
    font-family: 'Myriad Pro', Candara, sans-serif;
    font-size: 14px;
    //  height: 100%;
    color: @black;
    background-color: @white;
    width: 390px;
    margin: 0 auto;
}

#loginWrap {
    margin-top: 120px;
    background-color: @greyLight;
    position: relative;
    .boxShadow(0 0 16px 1px @greys);
}

#formLogin {
    position: relative;
}

#loginTitle {
    background-color: @mcolor;
    height: 40px;
    position: relative;

    h2 {
        padding-top: 10px;
        padding-left: 20px;
    }
}

.formItem {
    margin-top: 16px;

    label {
        display: block;
        float: left;
        width: 91px;
        text-align: right;
        line-height: 20px;
        padding-top: 8px;
        margin-right: 15px;
    }

    input {
        border: 1px solid @mcolor;
        background-color: @white;
        width: 190px;
        height: 20px;
        margin: 3px 0 3px 0;
        padding: 4px 8px;
        .transition(border, linear, .3s);

        &[type=file] {
            border: none;
            background-color: inherit;
            font-size: 11px;
        }

        &:hover {
            border-color: @black;
        }
    }
}

#loginName + span, #userRegImg + span {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#loginMsg, #regMsg {
    position: absolute;
    color: @errorColor;
    line-height: 1.2;
    bottom: 30px;
    left: 25px;
    max-width: 190px;
    max-height: 64px;
    overflow-y: hidden;
}

.formAction {
    float: right;
    padding: 40px 76px 20px 20px;
}

.btn {
    .boxSizing;
    outline: none;
    padding: 5px 15px;
    font-size: 18px;
    min-width: 100px;
    line-height: 25px;
    border: 0 none;
    background-color: @mcolor;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    .transition(background-color, .3s);

    &:hover {
        background-color: @mcolorLight;
    }

    &:active {
        background-color: @mcolorDark;
    }
}

#openReg {
    display: block;
    margin: 5px 0 5px 25px;
    font-size: 14px;
    clear: both;
}

#formRegWrap {
    position: relative;
    margin-top: 20px;
    height: 0;
    overflow: hidden;
    .transition(height, 0.8s);

    &.regOpened {
        height: 510px;
    }

    h3 {
        margin-left: 20px;
    }

    label[for=regPassword2] {
        padding-top: 0;
    }

    #formReg {
        padding-top: 20px;
        border-top: 1px solid @greys;
    }
}
