#projectThumbTools {
    visibility: hidden;
    width: 32px;
    position: absolute;
    top: 0;
    z-index: 11;
    cursor: pointer;

    &.show {
        visibility: visible;
    }

    #toolsLine {
        span {
            display: block;
            width: 32px;
            height: 32px;
            .boxSizing;
            background-color: rgba(255, 255, 255, 0.4) !important;

            &.hidden {
                display: none;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.6) !important;
            }
            &.active {
                background-color: rgba(255, 255, 255, 0.9) !important;
                border: 1px solid @greys;
            }
        }

        #showAddTask {
            background: url(../resources/toolPanel.png) center 0 no-repeat;
        }

        #showEditProject {
            background: url(../resources/toolPanel.png) center -32px no-repeat;
        }

        #showTaskHistory {
            background: url(../resources/toolPanel.png) center -64px no-repeat;
        }

        #showDetails {
            background: url(../resources/toolPanel.png) center -96px no-repeat;
        }

        #showProjectSpec {
            position: absolute;
            top: 0;
            left: 96px;
            background: url(../resources/toolPdf.png) center 0 no-repeat;
        }
    }

}
