<div id="toolsLine">
    <span id="showAddTask"></span>
    <span id="showEditProject"></span>
    <span id="showTaskHistory"></span>
    <span id="showDetails"></span>
    <span id="showProjectSpec"></span>
</div>